@charset "UTF-8";
.subTituloVentas {
  transition: 1s;
  animation-name: animacion6;
  animation-duration: 0.05s;
  animation-iteration-count: 20; }

@keyframes animacion6 {
  0% {
    color: #39395e; }
  50% {
    color: red; }
  100% {
    color: #39395e; } }

@media (min-width: 650px) {
  .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px; }
    .contenedor img {
      width: 280px;
      height: 200px; }
  .textoImagen {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    width: 230px;
    background-color: rgba(14, 6, 6, 0.3); }
  #carouselIndex {
    margin-left: 30px; }
  .carousel-item #index {
    height: 480px; }
  .carousel-item #textoUno,
  .carousel-item #textoDos,
  .carousel-item #textoTres {
    background-color: rgba(14, 6, 6, 0.3); }
  .carousel-item #tituloToques {
    color: white;
    font-size: 30px; }
  .carousel-item #textoToques {
    color: white; }
  #historia {
    padding-right: 30px;
    border-right: solid 2px black;
    width: min-content; }
  #noticia2 {
    padding-top: 20px;
    padding-bottom: 20px; }
    #noticia2 a {
      font-size: 25px;
      font-family: Georgia, "Times New Roman", Times, serif; }
    #noticia2 img {
      border: solid 2px black;
      height: 180px;
      width: 180px; }
  #noticia1 {
    padding-bottom: 20px; }
    #noticia1 a {
      font-size: 25px;
      font-family: Georgia, "Times New Roman", Times, serif; }
    #noticia1 img {
      border: solid 2px black;
      height: 180px;
      width: 180px; }
  #noticia3 {
    padding-top: 20px; }
    #noticia3 a {
      font-size: 25px;
      font-family: Georgia, "Times New Roman", Times, serif; }
    #noticia3 img {
      border: solid 2px black;
      height: 180px;
      width: 180px; }
  #entrevistas {
    padding-top: 150px;
    padding-right: 80px; }
    #entrevistas .tituloEntrevistas {
      color: black;
      font-size: 40px !important;
      margin-left: 20px; }
    #entrevistas div {
      background-color: black;
      margin-left: 10px; }
      #entrevistas div img {
        height: 160px;
        width: 160px; }
      #entrevistas div a {
        text-align: center;
        color: white; }
      #entrevistas div a:hover {
        color: red; }
  #footerIndex {
    padding-top: 80px; }
  #strongPublicidadIndex {
    text-align: center; }
  /*SE APLICAN ANIMACIONES AL TITULO Y LAS IMAGENES DEL <head> EN index.html*/
  #tituloBienvenida {
    animation-name: animacion1;
    animation-duration: 2s;
    animation-iteration-count: 1; }
  #manoHome1 {
    animation-name: animacion4;
    animation-duration: 2s;
    animation-iteration-count: 2; }
  #manoHome2 {
    animation-name: animacion5;
    animation-duration: 2s;
    animation-iteration-count: 2; }
  @keyframes animacion1 {
    0% {
      font-family: 'New Rocker', cursive;
      font-weight: 500;
      font-size: 10px;
      color: #a54040; }
    50% {
      font-family: 'New Rocker', cursive;
      font-weight: 500;
      font-size: 40px;
      color: firebrick; }
    100% {
      font-family: 'New Rocker', cursive;
      font-weight: 1px;
      color: darkred; } }
  @keyframes animacion2 {
    0% {
      height: 50px;
      width: 50px; }
    50% {
      height: 75px;
      width: 75px; } }
  @keyframes animacion3 {
    0% {
      transform: rotateY(80deg); }
    50% {
      transform: rotateZ(-80deg); }
    100% {
      transform: rotateY(80deg); } }
  @keyframes animacion4 {
    0% {
      transform: translateX(50px, 50px); }
    50% {
      transform: translateX(100px); } }
  @keyframes animacion5 {
    0% {
      transform: translateX(-50px, -50px); }
    50% {
      transform: translateX(-100px); } } }

@media (max-width: 650px) {
  .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px; }
    .contenedor img {
      width: 280px;
      height: 200px; }
  .textoImagen {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(14, 6, 6, 0.3);
    color: white;
    font-size: 20px;
    width: 230px; }
  #historia {
    border-right: none;
    width: auto; }
  .contenedor {
    position: relative;
    display: inline-block;
    text-align: center; }
  .textoImagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #carouselIndex {
    margin-top: 100px; }
  .carousel-item #index {
    height: 300px; }
  .carousel-item #textoUno,
  .carousel-item #textoDos,
  .carousel-item #textoTres {
    background-color: rgba(14, 6, 6, 0.3); }
  #tituloToques {
    color: white; }
  #textoToques {
    font-size: 16px !important;
    color: white !important; }
  #noticia2 {
    padding-top: 20px;
    padding-bottom: 20px; }
    #noticia2 a {
      font-size: 18px;
      font-family: Georgia, "Times New Roman", Times, serif; }
    #noticia2 img {
      border: solid 2px black;
      height: 250px; }
  #noticia1 {
    padding-bottom: 20px; }
    #noticia1 a {
      font-size: 18px;
      font-family: Georgia, "Times New Roman", Times, serif; }
    #noticia1 img {
      border: solid 2px black;
      height: 250px; }
  #noticia3 {
    border-top: none;
    padding-top: 20px; }
    #noticia3 a {
      font-size: 18px;
      font-family: Georgia, "Times New Roman", Times, serif; }
    #noticia3 img {
      border: solid 2px black;
      height: 250px; }
  #entrevistas {
    padding-top: 80px; }
    #entrevistas .tituloEntrevistas {
      font-size: 40px !important;
      padding-left: 0px;
      color: black; }
    #entrevistas div {
      background-color: white; }
      #entrevistas div img {
        margin-left: 50px !important;
        height: 220px;
        width: 220px; }
      #entrevistas div a {
        font-size: 23px !important;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black; }
      #entrevistas div a:hover {
        color: red; }
  #elementoHome {
    position: fixed !important;
    left: 30px;
    top: 60px;
    height: 50px;
    width: 50px; }
  #publicidadRevista {
    padding-left: 60px !important; }
  #manoHome1 img {
    height: 0px !important;
    width: 0px !important; }
  #manoHome2 img {
    height: 0px !important;
    width: 0px !important; }
  #strongPublicidadIndex {
    width: fit-content;
    margin-left: 30px; }
  #footerIndex {
    padding-top: 0; }
  /*SE APLICAN ANIMACIONES AL TITULO Y LAS IMAGENES DEL <head> EN index.html*/
  #tituloBienvenida {
    animation-name: animacion1;
    animation-duration: 2s;
    animation-iteration-count: 1; }
  #manoHome1 {
    animation-name: animacion4;
    animation-duration: 2s;
    animation-iteration-count: 2; }
  #manoHome2 {
    animation-name: animacion5;
    animation-duration: 2s;
    animation-iteration-count: 2; }
  @keyframes animacion1 {
    0% {
      font-family: 'New Rocker', cursive;
      font-weight: 500;
      font-size: 10px;
      color: black; }
    50% {
      font-family: 'New Rocker', cursive;
      font-weight: 500;
      font-size: 40px;
      color: firebrick; }
    100% {
      font-family: 'New Rocker', cursive;
      font-weight: 1px;
      color: darkred; } }
  @keyframes animacion2 {
    0% {
      height: 50px;
      width: 50px; }
    50% {
      height: 75px;
      width: 75px; } }
  @keyframes animacion3 {
    0% {
      transform: rotateY(80deg); }
    50% {
      transform: rotateZ(-80deg); }
    100% {
      transform: rotateY(80deg); } }
  @keyframes animacion4 {
    0% {
      transform: translateX(50px, 50px); }
    50% {
      transform: translateX(100px); } }
  @keyframes animacion5 {
    0% {
      transform: translateX(-50px, -50px); }
    50% {
      transform: translateX(-100px); } } }

table {
  font-size: 20.8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center; }
  table .theadHistorial {
    border-bottom: solid black 3px; }
  table tbody {
    font-size: 15.6px; }
  table th {
    border-right: solid black 1px;
    padding-right: 4px; }
  table td {
    border-right: solid black 1px;
    width: fit-content; }
  table tr {
    border-bottom: solid black 3px; }
  table li {
    border-bottom: solid 1px black; }

@media (min-width: 650px) {
  .contacto {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 'mensaje mensaje' 'mensaje2 foto2';
    font-family: 'Rock Salt', cursive;
    font-size: 15px;
    text-align: center;
    color: darkred; }
  #mensaje {
    grid-area: mensaje; }
  #mensaje2 {
    grid-area: mensaje2;
    font-size: 30px;
    padding: 50px !important; }
  #foto2 {
    grid-area: foto2;
    margin-left: 250px;
    margin-right: 250px;
    background-image: url(../img/imagen2.jpg);
    background-repeat: no-repeat; }
  .blog {
    display: grid;
    grid-template-columns: 100px 0.9fr 140px;
    grid-template-rows: 300px 100px 100px 100px 50px;
    grid-template-areas: "columnaTemas foroDiscusion aside" "columnaTemas foroDiscusion aside" "columnaTemas foroDiscusion aside" "footerBlog footerBlog footerBlog";
    height: 80vh;
    margin: 0;
    grid-column-gap: 20px; }
  #columnaTemas {
    grid-area: columnaTemas;
    border: groove 5px #48498d;
    height: min-content;
    width: min-content; }
    #columnaTemas div {
      padding-top: 6px; }
  #foroDiscusion {
    grid-area: foroDiscusion;
    padding-left: 2rem; }
  aside {
    grid-area: aside; }
    aside .fuentePublicidad {
      font-size: 15px !important;
      text-align: left; }
  #footerBlog {
    grid-area: footerBlog;
    margin-top: 3000px; }
  #seccionPrincipal {
    display: grid;
    grid-template-columns: 0.4fr 900px;
    grid-template-rows: 500px 30px 30px 650px 300px;
    grid-template-areas: "historia carouselIndex" "entrevistas noticia1" "noticia2 noticia2" "noticia3 noticia3" "publicidadRevista publicidadRevista";
    padding: 30px;
    font-family: Georgia, "Times New Roman", Times, serif; }
  #historia {
    grid-area: historia; }
  #entrevistas {
    grid-area: entrevistas; }
  #carouselIndex {
    grid-area: carouselIndex; }
  #noticias {
    grid-area: noticias; }
  #noticia1 {
    grid-area: noticia1; }
  #noticia2 {
    grid-area: noticia2; }
  #noticia3 {
    grid-area: noticia3; }
  #publicidadRevista {
    padding-left: 250px;
    grid-area: publicidadRevista; } }

@media (max-width: 650px) {
  .blog {
    display: grid;
    grid-template-columns: 100px 250px;
    grid-template-rows: 1fr 170px 500px;
    grid-template-areas: 'columnaTemas  foroDiscusion' 'aside aside'; }
  #columnaTemas {
    grid-area: columnaTemas; }
  #foroDiscusion {
    grid-area: foroDiscusion; }
  aside {
    margin-top: 150px;
    grid-area: aside; }
  #footerBlog {
    padding-top: 400px !important; } }

@media (max-width: 650px) {
  #seccionPrincipal {
    display: flex;
    flex-direction: column; } }

.nosotros {
  display: flex;
  flex-direction: column; }

.ventas {
  display: flex;
  padding-left: 100px; }
  .ventas .formVentas {
    padding-left: 100px; }

@media (max-width: 650px) {
  .ventas {
    display: flex;
    flex-direction: column;
    padding: 0; }
    .ventas .formVentas {
      padding: 0;
      padding-top: 20px; } }

.canjes {
  display: flex;
  padding-left: 100px; }
  .canjes .formCanjes {
    padding-left: 100px; }

@media (max-width: 650px) {
  .canjes {
    display: flex;
    flex-direction: column;
    padding: 0; }
    .canjes .formCanjes {
      padding: 0;
      padding-top: 20px; } }

.formCanjes {
  padding: 50px; }

.formVentas {
  padding: 50px; }

.historial {
  display: flex;
  flex-direction: column; }

@media (min-width: 650px) {
  .grid-container {
    background-color: skyblue;
    display: grid;
    grid-template-columns: 100px 100px 140px 200px;
    grid-template-rows: 1fr 1fr;
    width: fit-content;
    margin: auto;
    text-align: center; }
  .grid-container div {
    border: solid 3px black; }
  #cabeceraUsuario {
    text-transform: uppercase;
    text-shadow: currentColor; }
  #accordionPerfil {
    padding-left: 98px !important; } }

@media (max-width: 650px) {
  .grid-container {
    background-color: skyblue;
    display: grid;
    grid-template-columns: 70px 70px 90px 100px;
    grid-template-rows: 1fr 1fr;
    width: fit-content;
    margin: auto;
    text-align: center; }
  .grid-container div {
    border: solid 3px black; }
  #formPerfil {
    margin-top: 20px; } }

/*********************************/
/*HOJA DE ESTILOS VISUALES*/
/*********************************/
/*EVENTUALMENTE TUVE QUE DEJAR ESTAS TRES "SENTENCIAS" DE CSS AL PRINCIPIO, 
DE OTRO MODO SE DEFORMA EL MENU DE NAVEGACION*/
/*********************************/
header div {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

nav ul li {
  display: block;
  font-size: 12px;
  text-align: center; }

nav ul li {
  letter-spacing: 2px;
  padding-top: 10px;
  display: inline-block;
  list-style-type: none;
  font-size: 14px;
  border-right: solid 2px black;
  padding-left: 20px;
  padding-right: 33px;
  margin-left: 5px; }

nav {
  padding: 2px !important;
  padding-top: 0; }

/*********************************/
/*EFECTO TRANSITION PARA EL MENU DE LA PAGINA*/
/*SE "PISAN" ESTILOS DE BOOTSTRAP*/
/*********************************/
a {
  color: black;
  transition: 1s;
  text-decoration: none; }

a:hover {
  font-family: 'New Rocker', cursive;
  color: red; }

.nav-link {
  color: black;
  transition: 1s; }

/*********************************/
/*EN EL CASO DEL HOVER SE PIENSA EN EL !important COMO UTIL PARA LA PÁGINA EN CUESTIÓN*/
/*********************************/
.nav-link:hover {
  font-family: 'New Rocker', cursive;
  color: red !important;
  font-size: 14px; }

.dropdown-item:hover {
  font-family: 'New Rocker', cursive;
  color: red !important;
  font-size: 14px;
  background-color: transparent !important; }

.dropdown-item {
  color: white; }

.nav-link {
  color: white !important; }

svg {
  fill: white; }

/*********************************/
/*EFECTO TRANSFORM CON TRANSITION*/
/*********************************/
.redesSociales {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.redesSociales p {
  padding: 20px; }

/*********************************/
/*EFECTO TRANSICION PARA EL ACCESO A REDES SOCIALES*/
/*********************************/
a svg:hover {
  transition: 0.5s all;
  transform: rotateZ(30deg); }

ul li:hover ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0; }

ul ul li {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: none;
  padding: 2px; }

.dropdown-menu {
  border: solid 1px black;
  background-color: #212529; }

/*********************************/
/*FORMATO PARA EL MENU DEL HEADER*/
/*********************************/
header {
  padding: 10px;
  margin-bottom: 100px; }

/*********************************/
/*TITULOS CON DISTINTOS FORMATOS*/
/*********************************/
h1 {
  font-family: 'New Rocker', cursive;
  font-weight: 500;
  color: white;
  font-size: 34px;
  text-align: center; }

h2 {
  font-family: 'New Rocker', cursive;
  text-align: center;
  color: #141452;
  font-size: 25px; }

h3 {
  font-family: 'New Rocker', cursive;
  font-size: 25px;
  color: #8a1313;
  text-align: center; }

h4 {
  font-family: 'New Rocker', cursive;
  text-align: center;
  color: #39395e;
  font-size: 25px; }

h5 {
  color: red;
  font-family: 'New Rocker', cursive;
  text-align: center;
  font-size: 14px !important; }

.imagenDePortada {
  padding-top: 80px;
  padding-bottom: 50px;
  display: block;
  margin: auto; }

/*********************************/
/*SE APLICA A DETERMINADO PÁRRAFO*/
/*********************************/
.parrafo1 {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 20px !important; }

p {
  color: #413c3c;
  font-family: 'Roboto Condensed', sans-s;
  text-align: center;
  font-size: 20px !important; }

#volverArriba {
  color: white; }

#volverArriba:hover {
  color: red; }

/*********************************/
/*ICONO DE LA PAGINA QUE LLEVA AL INICIO*/
/*********************************/
#elementoHome {
  position: fixed !important;
  left: 30px;
  top: 60px;
  height: 50px;
  width: 50px; }

/*********************************/
/*GRADIENTES HEADER Y FOOTER*/
/*********************************/
#gradiente1 {
  background-color: #212529; }

#gradiente2 {
  background-color: #212529; }

.vina-camera-slider .camera_wrap .camera_pag .camera_pag_ul li {
  background: black none repeat scroll 0 0 !important; }

@media (min-width: 650px) {
  .blogSolo {
    font-family: 'Vast Shadow', cursive; }
  .tituloTabla {
    margin-left: 40px;
    font-size: px; }
  .subTituloBlog {
    color: #c7bcbc !important; }
  #nombreTema {
    background-color: black;
    text-align: left;
    color: white; }
  #datosTema {
    text-align: right;
    font-size: 14px !important; }
  #datosUsuario #imgUsuario {
    height: 250px;
    width: 230px; }
  #datosUsuario #nombreUsuario {
    font-size: 12px;
    color: black;
    text-align: left; }
  #imagenTema {
    height: 500px;
    width: 700px; }
  #contenidoPortadaTema {
    margin-left: 200px;
    width: 60%;
    text-align: center;
    background-color: #ededf5;
    border: groove 2px rgba(0, 0, 0, 0.363); }
  #columnaTemas {
    padding: 20px; }
    #columnaTemas img {
      margin-left: 5px;
      height: 80px;
      width: 100px; }
    #columnaTemas p {
      width: 30%;
      font-size: 15px !important; }
    #columnaTemas div {
      border-bottom: solid 0.5px black;
      padding-top: 40px;
      padding-bottom: 40px; }
  #foroDiscusion {
    padding-left: 50px; }
  #paginasBlog {
    margin-top: 50px;
    margin-left: 400px; }
  #notisBlog {
    position: sticky !important;
    left: 30px;
    top: 60px;
    height: 20px;
    width: 250px; }
    #notisBlog #noti1 a {
      font-size: 15px !important; }
    #notisBlog #noti1 img {
      margin-top: 20px;
      height: 70px;
      width: 70px; }
    #notisBlog #noti2 a {
      padding-top: 0 !important;
      font-size: 15px !important; }
    #notisBlog #noti2 img {
      margin-top: 20px;
      height: 70px;
      width: 70px; }
    #notisBlog #noti3 a {
      font-size: 15px !important; }
    #notisBlog #noti3 img {
      margin-top: 20px;
      height: 70px;
      width: 70px; }
  #publiBlog {
    position: sticky !important;
    left: 30px;
    top: 100px;
    margin-top: 1000px; }
    #publiBlog img {
      height: 170px;
      width: 200px; } }

@media (max-width: 650px) {
  .subTituloBlog {
    color: #c7bcbc; }
  #columnaTemas {
    border: groove 2px #48498d;
    width: min-content;
    height: min-content; }
    #columnaTemas div {
      border-bottom: solid 0.5px black;
      margin: auto;
      padding-top: 40px;
      padding-bottom: 40px; }
    #columnaTemas img {
      margin-left: 5px;
      height: 65px;
      width: 65px; }
    #columnaTemas p {
      width: 30%;
      font-size: 15px !important; }
  #foroDiscusion {
    width: min-content;
    margin-top: 30px; }
    #foroDiscusion article {
      border-top: solid 1px black; }
      #foroDiscusion article #imagenTema {
        height: 310px;
        width: 350px; }
  #nombreTema {
    color: white;
    background-color: black; }
  aside {
    display: flex;
    flex-direction: column;
    margin-left: 80px; }
    aside .fuentePublicidad {
      text-align: start; }
  #temaDos {
    margin-top: 100px; }
  #temaTres {
    margin-top: 100px; }
  #datosUsuario #imgUsuario {
    height: 150px;
    width: 130px; }
  #datosUsuario p {
    width: 30%;
    font-size: 16px !important; }
  #contenidoPortadaTema {
    background-color: #ededf5;
    border: groove 2px rgba(0, 0, 0, 0.363); }
  #notisBlog {
    height: 200px;
    width: 200px;
    border-bottom: none; }
    #notisBlog #noti1 a {
      font-size: 20px !important; }
    #notisBlog #noti1 img {
      margin-top: 20px;
      height: 150px;
      width: 190px; }
    #notisBlog #noti2 a {
      padding-top: 0 !important;
      font-size: 20px !important; }
    #notisBlog #noti2 img {
      margin-top: 20px;
      height: 150px;
      width: 190px; }
    #notisBlog #noti3 a {
      font-size: 20px !important; }
    #notisBlog #noti3 img {
      margin-top: 20px;
      height: 150px;
      width: 190px; }
  #publiBlog {
    border: solid 1px black;
    margin-top: 800px;
    margin-right: 20px; }
    #publiBlog img {
      margin-left: 20px;
      height: 130px;
      width: 160px; }
    #publiBlog p {
      margin-left: 10px; }
  #footerBlog {
    margin-top: 600px; }
  #spanPublicidad {
    margin-left: 60px; } }

@media (max-width: 2048px) and (min-width: 1024px) {
  .nosotros {
    padding: 200px;
    padding-top: 5px; }
  #tituloNosotros {
    font-size: 45px !important; }
  #subtituloNosotros {
    font-size: 35px !important; }
  .mision {
    width: 800px;
    margin-left: 60px; }
  #caruselIndicador {
    margin-bottom: 40px; }
  #noticiasNosotros {
    position: fixed !important;
    left: 30px;
    top: 70px;
    height: 20px;
    width: 250px;
    margin-top: 70px;
    margin-left: 1080px; }
    #noticiasNosotros #noti1 a {
      font-size: 15px !important; }
    #noticiasNosotros #noti1 img {
      margin-top: 20px;
      height: 70px;
      width: 90px; }
    #noticiasNosotros #noti2 a {
      padding-top: 0 !important;
      font-size: 15px !important; }
    #noticiasNosotros #noti2 img {
      margin-top: 20px;
      height: 70px;
      width: 90px; }
    #noticiasNosotros #noti3 a {
      font-size: 15px !important; }
    #noticiasNosotros #noti3 img {
      margin-top: 20px;
      height: 70px;
      width: 90px; } }

@media (max-width: 1023px) and (min-width: 650px) {
  #noticiasNosotros {
    position: fixed !important;
    left: 30px;
    top: 60px;
    height: 20px;
    width: 250px;
    margin-top: 70px;
    margin-left: 1080px; }
    #noticiasNosotros #noti1 a {
      font-size: 15px !important; }
    #noticiasNosotros #noti1 img {
      margin-top: 20px;
      height: 70px;
      width: 90px; }
    #noticiasNosotros #noti2 a {
      padding-top: 0 !important;
      font-size: 15px !important; }
    #noticiasNosotros #noti2 img {
      margin-top: 20px;
      height: 70px;
      width: 90px; }
    #noticiasNosotros #noti3 a {
      font-size: 15px !important; }
    #noticiasNosotros #noti3 img {
      margin-top: 20px;
      height: 70px;
      width: 90px; }
    #noticiasNosotros #noti3 .nosotros {
      padding: 100px;
      padding-top: 5px;
      padding-bottom: 10px; }
    #noticiasNosotros #noti3 #tituloNosotros {
      font-size: 45px !important; }
    #noticiasNosotros #noti3 #subtituloNosotros {
      font-size: 35px !important; } }
  @media (max-width: 1023px) and (min-width: 650px) and (max-width: 649px) and (min-width: 300px) {
    #noticiasNosotros #noticiasNosotros {
      padding-top: 20px; }
      #noticiasNosotros #noticiasNosotros a {
        font-size: 25px;
        font-family: Georgia, "Times New Roman", Times, serif; }
      #noticiasNosotros #noticiasNosotros img {
        border: solid 2px black;
        height: 250px; }
    #noticiasNosotros #tituloNosotros {
      font-size: 45px !important; }
    #noticiasNosotros #subtituloNosotros {
      font-size: 35px !important; }
    #noticiasNosotros #caruselIndicador {
      margin-bottom: 200px; }
    #noticiasNosotros #caruselFlechas {
      margin-top: 160px; } }

/*GRID PARA LA TABLA DE DATOS DEL USUARIO*/
.grid-container {
  background-color: skyblue;
  display: grid;
  grid-template-columns: 5fr 5fr 5fr 7fr;
  grid-template-rows: 1fr 1fr;
  width: fit-content;
  align-items: center;
  margin: auto;
  text-align: center; }

.grid-container div {
  border: solid 3px black; }

#cabeceraUsuario {
  text-transform: uppercase;
  text-shadow: currentColor; }

@media (min-width: 650px) {
  #labelContacto {
    background-color: white;
    font-size: 20px;
    margin-right: 120px; }
  #inputContacto {
    width: 40% !important;
    margin-left: 170px; }
  #inputMensaje {
    width: 75% !important;
    margin-left: 0; }
  #formContacto {
    margin-left: 80px; }
  #submitContacto {
    margin-right: 120px; }
  .container::-webkit-scrollbar:vertical {
    width: 200px; }
  #noticiasContacto {
    position: fixed !important;
    left: 30px;
    top: 60px;
    height: 20px;
    width: 250px;
    margin-top: 70px;
    margin-left: 1080px; }
    #noticiasContacto #noti1 a {
      font-size: 15px !important; }
    #noticiasContacto #noti1 img {
      margin-top: 20px;
      height: 70px;
      width: 90px; }
    #noticiasContacto #noti2 a {
      padding-top: 0 !important;
      font-size: 15px !important; }
    #noticiasContacto #noti2 img {
      margin-top: 20px;
      height: 70px;
      width: 90px; }
    #noticiasContacto #noti3 a {
      font-size: 15px !important; }
    #noticiasContacto #noti3 img {
      margin-top: 20px;
      height: 70px;
      width: 90px; } }

@media (max-width: 650px) {
  #noticiasContacto {
    padding-top: 20px;
    padding-bottom: 20px; }
    #noticiasContacto #noti1 a,
    #noticiasContacto #noti2 a,
    #noticiasContacto #noti3 a {
      font-size: 25px;
      font-family: Georgia, "Times New Roman", Times, serif; }
    #noticiasContacto #noti1 img,
    #noticiasContacto #noti2 img,
    #noticiasContacto #noti3 img {
      border: solid 2px black;
      height: 250px; }
  #foto2 {
    margin: 0; }
  #inputContacto {
    margin-left: 5px; } }

@media (max-width: 650px) and (max-width: 450px) {
  #foto2 {
    grid-area: foto2;
    background-image: none; }
  #mensaje2 {
    margin: 0px; } }
