$tamanioFuente: 13px;
$bordeInferior: solid black 1.5px * 2;
$bordeDerecho: solid black 1px;
table {
    font-size: $tamanioFuente * 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    .theadHistorial {
        border-bottom: $bordeInferior;
    }
    tbody {
        font-size: $tamanioFuente * 1.2
    }
    th {
        border-right: $bordeDerecho;
        padding-right: 4px;
    }
    td {
        border-right: $bordeDerecho;
        width: fit-content;
    }
    tr {
        border-bottom: $bordeInferior;
    }
    li {
        border-bottom: solid 1px black;
    }
}