.nosotros {
    display: flex;
    flex-direction: column;
}

.ventas {
    display: flex;
    padding-left: 100px;
    .formVentas {
        padding-left: 100px;
    }
}

.canjes {
    display: flex;
    padding-left: 100px;
    .formCanjes {
        padding-left: 100px;
    }
}

.historial {
    display: flex;
    flex-direction: column;
}

.contacto {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 'mensaje2 mensaje2' 'foto2 foto2';
    font-family: 'Rock Salt', cursive;
    font-size: 15px;
    text-align: center;
    color: darkred;
}

#mensaje2 {
    grid-area: mensaje2;
    font-size: 30px;
    padding: 50px !important;
}

#foto2 {
    grid-area: foto2;
    margin-left: 250px;
    margin-right: 250px;
    background-image: url(../img/imagen2.jpg);
    background-repeat: no-repeat;
}

@media (max-width: 450px) {
    #foto2 {
        grid-area: foto2;
        background-image: none;
    }
}

.formCanjes {
    padding: 50px;
}

.blog {
    display: grid;
    grid-template-columns: 100px 0.9fr 140px;
    grid-template-rows: 100px 100px;
    grid-template-areas: "columnaTemas foroDiscusion aside" "columnaTemas foroDiscusion aside";
    height: 80vh;
    margin: 0;
    grid-column-gap: 20px;
}

#columnaTemas {
    grid-area: columnaTemas;
    border: groove 5px rgb(72, 73, 141);
    height: max-content;
    width: max-content;
    div {
        padding-top: 6px;
    }
}

#foroDiscusion {
    grid-area: foroDiscusion;
    padding-left: 2rem;
}

aside {
    grid-area: aside;
    .fuentePublicidad {
        font-size: 15px !important;
        text-align: left;
    }
}

#seccionPrincipal {
    display: grid;
    grid-template-columns: 0.4fr 900px;
    grid-template-rows: 0.5fr 300px 200px 200px 200px 20px;
    grid-template-areas: 'historia carouselIndex' 'entrevistas carouselIndex''noticia1 noticia1' 'noticia2 noticia2' 'noticia3 noticia3' 'publicidadRevista publicidadRevista''footer footer';
    padding: 30px;
    font-family: $fuenteTextos;
}

#historia {
    grid-area: historia;
}

#entrevistas {
    grid-area: entrevistas;
}

#carouselIndex {
    grid-area: carouselIndex;
}

#noticia1 {
    grid-area: noticia1;
}

#noticia2 {
    grid-area: noticia2;
}

#noticia3 {
    grid-area: noticia3;
}

#publicidadRevista {
    grid-area: publicidadRevista;
}

.footer {
    .redesSociales {
        text-align: left;
    }
    grid-area: footer;
}