        @media (min-width:650px) {
            .contenedor {
                position: relative;
                display: inline-block;
                text-align: center;
                margin-bottom: 10px;
                img {
                    width: 280px;
                    height: 200px;
                }
            }
            .textoImagen {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 20px;
                width: 230px;
                background-color: transparentize($color: #0e0606, $amount: 0.7);
            }
            #carouselIndex {
                margin-left: 30px;
            }
            .carousel-item {
                #index {
                    height: 480px;
                }
                #textoUno,
                #textoDos,
                #textoTres {
                    background-color: transparentize($color: #0e0606, $amount: 0.7);
                }
                #tituloToques {
                    color: white;
                    font-size: 30px;
                }
                #textoToques {
                    color: white;
                }
            }
            #historia {
                padding-right: 30px;
                border-right: solid 2px black;
                width: min-content;
            }
            #noticia2 {
                padding-top: 20px;
                padding-bottom: 20px;
                a {
                    font-size: 25px;
                    font-family: $fuenteTextos;
                }
                img {
                    border: solid 2px black;
                    height: $fotosNoticias;
                    width: $fotosNoticias;
                }
            }
            #noticia1 {
                padding-bottom: 20px;
                a {
                    font-size: 25px;
                    font-family: $fuenteTextos;
                }
                img {
                    border: solid 2px black;
                    height: $fotosNoticias;
                    width: $fotosNoticias;
                }
            }
            #noticia3 {
                padding-top: 20px;
                a {
                    font-size: 25px;
                    font-family: $fuenteTextos;
                }
                img {
                    border: solid 2px black;
                    height: $fotosNoticias;
                    width: $fotosNoticias;
                }
            }
            #entrevistas {
                padding-top: 150px;
                padding-right: 80px;
                .tituloEntrevistas {
                    color: black;
                    font-size: 40px!important;
                    margin-left: 20px;
                }
                div {
                    background-color: black;
                    margin-left: 10px;
                    img {
                        margin-left: 20px;
                        height: $fotosEntrevistas;
                        width: $fotosEntrevistas;
                    }
                    a {
                        text-align: center;
                        color: white;
                    }
                    a:hover {
                        color: red;
                    }
                }
            }
            #footerIndex {
                padding-top: 80px;
            }
            #strongPublicidadIndex {
                text-align: center;
            }
            /*SE APLICAN ANIMACIONES AL TITULO Y LAS IMAGENES DEL <head> EN index.html*/
            #tituloBienvenida {
                animation-name: animacion1;
                animation-duration: 2s;
                animation-iteration-count: 1;
            }
            #manoHome1 {
                animation-name: animacion4;
                animation-duration: 2s;
                animation-iteration-count: 2;
            }
            #manoHome2 {
                animation-name: animacion5;
                animation-duration: 2s;
                animation-iteration-count: 2;
            }
            @keyframes animacion1 {
                0% {
                    font-family: 'New Rocker', cursive;
                    font-weight: 500;
                    font-size: 10px;
                    color: rgb(165, 64, 64);
                }
                50% {
                    font-family: 'New Rocker', cursive;
                    font-weight: 500;
                    font-size: 40px;
                    color: firebrick;
                }
                100% {
                    font-family: 'New Rocker', cursive;
                    font-weight: 1px;
                    color: darkred;
                }
            }
            @keyframes animacion2 {
                0% {
                    height: 50px;
                    width: 50px;
                }
                50% {
                    height: 75px;
                    width: 75px;
                }
            }
            @keyframes animacion3 {
                0% {
                    transform: rotateY(80deg);
                }
                50% {
                    transform: rotateZ(-80deg);
                }
                100% {
                    transform: rotateY(80deg);
                }
            }
            @keyframes animacion4 {
                0% {
                    transform: translateX(50px, 50px);
                }
                50% {
                    transform: translateX(100px);
                }
            }
            @keyframes animacion5 {
                0% {
                    transform: translateX(-50px, -50px);
                }
                50% {
                    transform: translateX(-100px);
                }
            }
        }
        
        @media (max-width:650px) {
            .contenedor {
                position: relative;
                display: inline-block;
                text-align: center;
                margin-bottom: 10px;
                img {
                    width: 280px;
                    height: 200px;
                }
            }
            .textoImagen {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: transparentize($color: #0e0606, $amount: 0.7);
                color: white;
                font-size: 20px;
                width: 230px;
            }
            .contenedor {
                margin-left: 20px;
                position: relative;
                display: inline-block;
                text-align: center;
            }
            .textoImagen {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            #carouselIndex {
                margin-top: 100px;
            }
            .carousel-item {
                #index {
                    height: 300px;
                }
                #textoUno,
                #textoDos,
                #textoTres {
                    background-color: transparentize($color: #0e0606, $amount: 0.7);
                }
            }
            #tituloToques {
                color: white;
            }
            #textoToques {
                font-size: 16px!important;
                color: white!important;
            }
            #noticia2 {
                padding-top: 20px;
                padding-bottom: 20px;
                a {
                    font-size: 18px;
                    font-family: $fuenteTextos;
                }
                img {
                    border: solid 2px black;
                    height: $fotosNoticiasAdaptadas;
                }
            }
            #noticia1 {
                padding-bottom: 20px;
                a {
                    font-size: 18px;
                    font-family: $fuenteTextos;
                }
                img {
                    border: solid 2px black;
                    height: $fotosNoticiasAdaptadas;
                }
            }
            #noticia3 {
                border-top: none;
                padding-top: 20px;
                a {
                    font-size: 18px;
                    font-family: $fuenteTextos;
                }
                img {
                    border: solid 2px black;
                    height: $fotosNoticiasAdaptadas;
                }
            }
            #entrevistas {
                padding-top: 80px;
                .tituloEntrevistas {
                    font-size: 40px!important;
                    color: black;
                }
                span {
                    margin-left: 0px!important;
                }
                div {
                    background-color: white;
                    img {
                        margin-left: 50px!important;
                        height: $fotosEntrevistasAdaptadaS;
                        width: $fotosEntrevistasAdaptadaS;
                    }
                    a {
                        font-size: 23px!important;
                        font-family: $fuenteTextos;
                        color: black;
                    }
                    a:hover {
                        color: red;
                    }
                }
            }
            #elementoHome {
                position: fixed !important;
                left: 30px;
                top: 60px;
                height: 50px;
                width: 50px;
            }
            #publicidadRevista {
                padding-left: 60px!important;
            }
            #manoHome1 {
                img {
                    height: 0px!important;
                    width: 0px!important;
                }
            }
            #manoHome2 {
                img {
                    height: 0px!important;
                    width: 0px!important;
                }
            }
            #strongPublicidadIndex {
                width: fit-content;
                margin-left: 30px;
            }
            #footerIndex {
                padding-top: 0;
            }
            /*SE APLICAN ANIMACIONES AL TITULO Y LAS IMAGENES DEL <head> EN index.html*/
            #tituloBienvenida {
                animation-name: animacion1;
                animation-duration: 2s;
                animation-iteration-count: 1;
            }
            #manoHome1 {
                animation-name: animacion4;
                animation-duration: 2s;
                animation-iteration-count: 2;
            }
            #manoHome2 {
                animation-name: animacion5;
                animation-duration: 2s;
                animation-iteration-count: 2;
            }
            @keyframes animacion1 {
                0% {
                    font-family: 'New Rocker', cursive;
                    font-weight: 500;
                    font-size: 10px;
                    color: black;
                }
                50% {
                    font-family: 'New Rocker', cursive;
                    font-weight: 500;
                    font-size: 40px;
                    color: firebrick;
                }
                100% {
                    font-family: 'New Rocker', cursive;
                    font-weight: 1px;
                    color: darkred;
                }
            }
            @keyframes animacion2 {
                0% {
                    height: 50px;
                    width: 50px;
                }
                50% {
                    height: 75px;
                    width: 75px;
                }
            }
            @keyframes animacion3 {
                0% {
                    transform: rotateY(80deg);
                }
                50% {
                    transform: rotateZ(-80deg);
                }
                100% {
                    transform: rotateY(80deg);
                }
            }
            @keyframes animacion4 {
                0% {
                    transform: translateX(50px, 50px);
                }
                50% {
                    transform: translateX(100px);
                }
            }
            @keyframes animacion5 {
                0% {
                    transform: translateX(-50px, -50px);
                }
                50% {
                    transform: translateX(-100px);
                }
            }
        }