$fuenteTextos: Georgia,
'Times New Roman',
Times,
serif;
$fotosEntrevistas:160px;
$fotosNoticias:180px;
$fotosNoticiasAdaptadas:250px;
$fotosEntrevistasAdaptadaS:220px;
@import "ventas";
@import "index";
@import "formatoTablas";
@import "frameworks";
@import "público";
@import "blogs";
@import "nosotros";
@import "perfil";
@import "contacto";